@use "@styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 16px;
}

.title {
  font-size: $font-title-size;
  color: $theme-text-1;
  text-align: left;
}

.profileLayout {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profileBar {
  display: flex;
  gap: 16px;
}

.iconBar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.commentTitle {
  font-size: $font-title-sub-size;
  color: $theme-text-2;
}