@use '@styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
  background: $color-shade-1;
  border-bottom: 1px solid $color-gray-400;
  height: 100%;
}


.nav {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  background: $color-shade-1;
}

.writeBtn {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  height: 32px;
  border-radius: 16px;
  background: $color-mist-lavender;
  font-size: 16px;
  font-weight: 400;
  color: $color-primary;
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}
