@use '@styles/variables.scss' as *;

.bottomSheet {
  position: fixed;
  bottom: $posts-form-footer + 20px;
  left: 30px;

  width: 350px;
  background-color: $theme-shade-1;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;

  color: $theme-text-1;

  .chatBubble {
    margin-bottom: 12px;
    font-size: $font-base-size;
  }

  .choices {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 12px;
  }

  .result {
    margin-top: 20px;

    h4 {
      font-size: 1rem;
      margin-bottom: 8px;
    }

    ul {
      padding-left: 16px;
      margin-bottom: 12px;

      li {
        list-style: disc;
        font-size: $font-sm-size;
      }
    }
  }
}