@use "@styles/variables.scss" as *;
@use "sass:color";

.bg {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color.scale(#0f0f12, $alpha: -30%);
}

.card {
  position: relative;
  background-color: $color-shade-2;
  border-radius: 8px;
  padding: 8px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25);
}

.cleanIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.inner {
  background-color: $color-shade-1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
}

.welcome {
  font-size: $font-title-size;
  color: $color-text-1;
}

.guide {
  font-size: $font-base-size;
  color: $color-gray-400;
  text-align: center;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.btnInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.terms {
  font-size: $font-xs-size;
  color: $color-gray;
}
