@use "@styles/variables.scss" as *;

.likeWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.likeBtn {
  cursor: pointer;
  display: flex;
  align-items: center;

  :hover {
    color: $color-red;
  }

}

.likedIcon,
.unLikedIcon {
  width: 20px;
  height: 20px;
  color: $color-gray;
}

.likedIcon {
  color: $color-red;
}

.count {
  font-size: $font-sm-size;
  color: $theme-gray-1;
}