@use '@styles/variables.scss' as *;

.container {
  width: 100%;
  background: $theme-white;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0.5rem;
  animation: zoomIn 400ms;
  overflow: hidden;
}

@keyframes zoomIn {
  0% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.profileIcon {
  width: 2rem;
  height: 2rem;
}

.profileName {
  font-size: $font-xs-size;
  color: $theme-text-1;
  font-weight: 400;
}

.profileDate {
  font-size: $font-xs-size; // 10px
  color: $theme-text-2;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
  cursor: pointer;
}

.textWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.title {
  font-size: $font-base-size;
  font-weight: $font-title-weight;
  color: $theme-text-1;
  line-height: 1.75em;
}

.desc {
  font-size: $font-sm-size;
  color: $theme-text-2;
  line-height: 1.43em;
}

.mainIcon {
  width: 6.25rem;
  height: 5rem;
  border-radius: 8px;
  background: $theme-mist-lavender;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.iconTextGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconCount {
  font-size: $font-xs-size;
  color: $theme-gray-5;
  font-weight: $font-xs-weight;
}
