@use '@styles/variables.scss' as *;

.container {
  background: $color-white;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 0;
  overflow: hidden;
  transition: transform 600ms;
  animation: zoomIn 400ms;
}

.container:hover {
  transform: translateY(-8px); 
  box-shadow: 4px 4px 11px 2px  rgba(0, 0, 0, 0.1); 
}

@keyframes zoomIn {
  0% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}

.iconWrap {
  background: $color-mist-lavender;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 10rem;
  overflow: hidden;
  cursor: pointer;
}

.iconWrap img {
  transition: transform 400ms;
}

.iconWrap img:hover {
  transform: scale(1.2);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
  cursor: pointer;
}

.title {
  font-size: $font-title-sub-size;
  font-weight: $font-title-sub-weight;
  color: $theme-text-1;
  margin-bottom: 0.25rem;
}

.desc {
  font-size: $font-base-size;
  color: $theme-text-2;
  margin-bottom: 0.5rem;
}

.profileBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top: 1px solid $theme-gray-4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: $color-white;
  gap: 41px;
  
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.profileName {
  font-size: $font-xs-size;
  color: $theme-text-1;
  font-weight: $font-xs-weight;
}

.profileDate {
  font-size: $font-xs-size; // 10px
  color: $theme-text-2;
  font-weight: $font-xs-weight;
}

.iconTextGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconCount {
  font-size: $font-xs-size;
  color: $theme-gray-5;
  font-weight: $font-xs-weight;
}

@media (max-width: 768px) {
  .container:hover {
    transform: none;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.08);
  }
  .iconWrap img:hover {
    transform: none;
  }
}