@use "@styles/variables.scss" as *;

.commentList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.commentItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 12px;
}

.commentHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.editDone {
  color: $theme-gray-5;
  cursor: pointer;
}

.actionButtons {
  display: flex;
  gap: 3px;
  color: $theme-gray-3;
}

.commentEditInput {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  border: 1px solid $theme-gray-5;
  border-radius: 4px;
}

.commentText {
  @include font-sm;
  color: $theme-text-1;
}