@use '@styles/variables.scss' as *;

.filterBar {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}

.filterIcon {
  width: 0.75rem;
  height: 0.625rem;
  margin-left: 0.25rem;
  pointer-events: none;
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.selectWrap {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 1px solid $theme-shade-3;
  border-radius: 4px;
  padding: 0.375rem 1.875rem 0.375rem 0.75rem;
  font-size: $font-sm-size;
  color: $theme-gray-3;
  cursor: pointer;
  min-width: 3.125rem;
  height: 2.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.filterIconOpen {
  transform: translateY(-50%) rotate(180deg);
}

.viewTypeBar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.viewTypeIcon {
  cursor: pointer;
  fill: $theme-gray-5;
  filter: brightness(0.8);
  transition:  filter 0.2s;
}

.viewTypeIconActive {
  fill: $theme-soft-lavender;
  filter: none;
}

.cardList {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  }

.cardLayout {
  gap: 16px;
}

.cardLayout.square {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 50px;
  justify-content: center;
  justify-items: center;
  max-width: calc(320px * 4 + 32px * 3);
}

.cardLayout.long {
  display: flex;
  flex-direction: column;
  align-items: center;
}