@use "@styles/variables.scss" as *;

.summaryBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: $theme-mist-lavender;
  border-radius: 8px;
  padding: 16px;
}

.summaryTitle {
  @include font-title-sub;
  color: $theme-soft-lavender;
}

.summaryItem {
  @include font-sm;
  color: $theme-gray-4;
}
