@use "@styles/variables.scss" as *;

.summaryBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: $theme-mist-lavender;
  border-radius: 8px;
  padding: 16px;
}

.summaryTitle {
  font-size: $font-title-sub-size;
  font-weight: 600;
  color: $theme-soft-lavender;
}

.summaryItem {
  font-size: $font-sm-size;
  color: $theme-gray-4;
}
