@use "@styles/variables.scss" as *;

.commentList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.commentItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 12px;
}

.commentText {
  font-size: $font-base-size;
  color: $color-text-1;
}
