@use "@styles/variables.scss" as *;

.commentBox {
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  background-color: $theme-shade-3;
}

.commentGuide {
  font-size: $font-base-size;
  color: $theme-gray-4;
}