@use "@styles/variables.scss" as *;

.notification {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid $theme-shade-5;
  width: 100%;
}

.notification:hover {
  background-color: $theme-shade-2;
}

.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.nickname {
  @include font-sm;
  color: $theme-soft-lavender
}

.comment {
  @include font-sm;
  color: $theme-text-1;
}

.content {
  @include font-sm;
  color: $theme-text-1;
}

.postTitle {
  @include font-xs;
    color: $theme-gray-4;
}

.date {
  @include font-xs;
  color: $theme-gray-1;
  margin-bottom: 4px;
}

.read {
  background: $theme-shade-3;

  .nickname,
  .comment,
  .content,
  .postTitle {
    color: $theme-gray-1;
  }
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.icon {
  width: 16px;
  height: 16px;
}

.iconSelected {
  width: 16px;
  height: 16px;
  color: $theme-accent;
}

@media (max-width:768px) {
  .notification img {
    display: none;
  }
}