@use "@styles/variables.scss" as *;

.notification {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid $theme-shade-5;
  width: 100%;
}

.notification img {
  margin-left: 10px;
  margin-right: 8px;
}

.notification:hover {
  background-color: $theme-shade-2;
}

.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.nickname {
  font-size: $font-sm-size;
  line-height: 1.5;
  color: $theme-soft-lavender;
}

.comment {
  font-size: $font-sm-size;
  color: $theme-text-1;
}

.content {
  font-size: $font-sm-size;
  line-height: 2;
  color: $theme-text-1;
}

.postTitle {
font-size: $font-xs-size;
line-height: 1.5;
color: $theme-gray-4;
}

.date {
  @include font-xs;
  color: $theme-gray-4;
  display: flex;
  
}

.read {
  background: $theme-shade-3;

  .nickname,
  .comment,
  .content,
  .postTitle,
  .date {
    color: $theme-gray-1;
  }
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.icon {
  width: 16px;
  height: 16px;
  color: $theme-gray-3;
}

.iconSelected {
  width: 16px;
  height: 16px;
  // color: $theme-accent;
  color: $theme-red;
}

@media (max-width:768px) {
  .notification img {
    display: none;
  }
}