@use "@styles/variables.scss" as *;

.notification {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.nickname {
  @include font-sm;
  color: $color-accent;
}

.comment {
  @include font-sm;
  color: $color-black;
}

.content {
  @include font-sm;
  color: $color-black;
}

.postTitle {
  @include font-xs;
    color: $theme-gray-4;
}

.date {
  @include font-xs;
  color: $theme-gray-1;
  margin-bottom: 4px;
}

.read {
  background: $theme-shade-3;

  .nickname,
  .comment,
  .content,
  .postTitle {
    color: $theme-gray-1;
  }
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.icon {
  width: 16px;
  height: 16px;
}

.iconSelected {
  width: 16px;
  height: 16px;
  color: $color-accent;
}
